h1 {
    border-style: solid;
    text-align: center;
    border-radius: 8px;
    border-width: 4px;
    background-color: rgb(255, 187, 34);
}

#getPlayerInfo {
    border-radius: 8px;
    border-width: 4px;
    background-color: rgb(18, 23, 63);
}

body {
    background-color: rgb(93, 118, 169);
}

button {
    height: 40px;
    color: beige;
}

h2 {
    text-align: center;
    border-style: solid;
    border-radius: 8px;
    border-width: 4px;
    height: 60px;
}

ul {
    text-align: left;
    border-style: solid;
    height: 200px;
    border-radius: 8px;
    border-width: 4px;
}

p {
    text-align: justify;
    border-style: solid;
    height: 250px;
    border-radius: 8px;
    border-width: 4px;
}

main {
    display: flex;
    flex-direction: column;
    width: 55%;
}


